@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


body {
    margin: 0;
    padding: 0;
}

.bg {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url('/assets/wallpaperflare.com_wallpaper.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    
}

.logo {
    height: 25ch;
    position: absolute;
    left: 50%;
    top: 14%;
    transform: translate(-50%, -50%);
    animation: toTop 2s;
    
}

@keyframes toTop {
    0% {
        top: 50%;
        opacity: 0%;
    }
    20% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
        top: 14%;
    }
}

.form {
    background-color: rgba(255, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-content: space-evenly;
    display: inline;
    animation: muncul 1s;
}

@keyframes muncul {
    0% {
        filter: blur(20px);
    }
    50% {
        filter: blur(10px);
    }
    100% {
        filter: blur(0px);
    }

}

.form input::placeholder , input[type=button] {
    font-family: 'Micro 5';
    font-size: 20px;
    color: red;
    margin-left: 3px;
}
.form input, select, textarea {
    color: #ff0000;
}

.form input {
    border: none;
    background-color: rgba(0, 0, 0, 0.438);
    border-radius: 10px;
    transition: .3s;
}

.form input:hover {
    padding: 5px;
    transition: .3s;
}

#banner {
    height: 5ch;
    top: 94%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    animation: muncul 1s;
}